include ../mixins/sub-menu.pug

header.header
      .container
        .row.align-items-center
          .col-2.inner-logo
            a(href='/')
              img(src=settingGeneral.logo, alt='Logo')
          .col-5
            .form-search
              form(
                action="/search"
                method="GET"
              )
                .form-group.d-flex.mb-8
                  input(
                    type="text"
                    placeholder="Nhập từ khóa..."
                    class="form-control"
                    name="keyword"
                    value=keyword
                  )
                  button(
                    type="submit"
                    class="btn btn-primary"
                  ) Tim
          .col-5
            .inner-menu
              ul
                li
                  a(href="/") Trang chủ
                li.sub-menu
                  -const pathProduct= "/products"
                  a(href=pathProduct) Sản phẩm
                    +sub-menu(layout, pathProduct)
                li.sub-menu
                  -const pathBlog= "/blog"
                  a(href=pathBlog) Bài viết
                    +sub-menu(layoutBlog, pathBlog)
                li 
                  a(href="/cart") Giỏ hàng (#{totalQuantity ? (totalQuantity) : 0})
                if(userInfo)
                  li.sub-menu
                    a(href="/user/info") #{userInfo.fullName}
                    ul
                      li 
                        a(href="/chat") Chat
                      li
                        a(href="/user/logout" id="logout-link") Đăng xuất
                else
                  li.sub-menu 
                    a(href="/") More
                    ul 
                      li
                        a(href="/user/login") Đăng nhập
                      li
                        a(href="/user/register") Đăng ký
