include ../mixins/sub-menu.pug

header.header
      .container
        .row.align-items-center
          .col-3.inner-logo
            a(href='/')
              img(src='/images/logo.jpg', alt='Logo')
          .col-5
            .form-search
              form(
                action="/search"
                method="GET"
              )
                .form-group.d-flex.mb-8
                  input(
                    type="text"
                    placeholder="Nhập từ khóa..."
                    class="form-control"
                    name="keyword"
                    value=keyword
                  )
                  button(
                    type="submit"
                    class="btn btn-primary"
                  ) Tim
          .col-4
            .inner-menu
              ul
                li
                  a(href="/") Trang chủ
                li.sub-menu
                  -const pathProduct= "/products"
                  a(href=pathProduct) Sản phẩm
                    +sub-menu(layout, pathProduct)
                li 
                  a(href="/cart") Giỏ hàng (#{totalQuantity ? (totalQuantity) : 0})
