extends ../../layouts/defaults.pug
  
block main
  h1.detail-title Trang chi tiết sản phẩm

  .detail
    .row 
      .col-4 
        .inner-image 
          img(src=item.thumbnail alt=item.title)
          if(item.featured=="1")
            .inner-featured Nổi bật
      .col-8 
        .item__detail 
          h3 #{item.title}
          if(item.productCategory)
            .header-item 
              img(src="https://salt.tikicdn.com/ts/upload/d7/56/04/b93b8c666e13f49971483596ef14800f.png" class="chinh-hang" alt="Chính hãng")
              div.category
                | Danh mục sản phẩm: 
                a(href=`/products/${item.productCategory.slug}`) #{item.productCategory.title}
          .price
            .old-price $#{item.price}
            .new-price $#{item.newPrice}
            .discount #{item.discountPercentage}% GIẢM
          .stock Còn lại: <span class="badge badge-warning" >#{item.stock} <span> sản phẩm
          form(action=`/cart/add/${item.id}`, method="POST")
            input.form-control.mb-2(
              type="number"
              name="quantity"
              value=(item.stock==0?0:1)
              min="1"
              max=item.stock
            )
            .sum Tạm tính:
            .result $#{item.newPrice}
            button.btn.btn-success.btn-block(type="submit")
              | Thêm vào giỏ hàng
      .col-12
        .description
          if(item.description)
            p.desc !{item.description}
          
