extends ../../layouts/defaults.pug
include ../../mixins/filterButton.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/formatTime.pug

block main
  if(roles.permissions.includes("order_view"))
    .card-header <h1>Danh sách đơn đặt hàng<h1>
    +alert-success()
    
    .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row 
        .col-6
          +filterButton(button)
        .col-6
          form#form-search
            +Search(keyword)

    .card.mb-3
    .card-header Sắp xếp
    .card-body
      .row
        .col-6
          div(sort)
            select.form-control(name="sort" sort-select)
              option(value="position-desc") Vị trí giảm dần
              option(value="position-asc") Vị trí tăng dần
              option(value="price-desc") Giá giảm dần
              option(value="price-asc") Giá tăng dần
              option(value="title-asc") Tiêu đề A - Z
              option(value="title-desc") Tiêu đề Z - A
        .col-6
          button.btn.btn-danger(sort-clear) Clear

    .card.mb-3
    
    .card-body
      .row 
        if(roles.permissions.includes("products_edit"))
          .col-8 
            +form-change-multi(`${prefitAdmin}/products/change-multi?_method=PATCH`)
      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Khách hàng
            th Địa chỉ
            th Số điện thoại
            th Ngày đặt hàng
            th Trạng thái thanh toán
            th Hành động
        tbody
          each item, index in products
            tr
              td
                input(type="checkbox" name="id" value=item.id)
              td #{pagination.limit*(pagination.currentPage-1)+(index+1)}
              td #{item.userInfo.fullName}
              td #{item.userInfo.address}
              td #{item.userInfo.phone}
              td
                +CreateTimeUser(item.createdAt)
              td
                if item.status_payment === true
                  a(
                  class="badge badge-success"
                  ) Đã thanh toán
                else
                  a(
                    href="javascript:" 
                    data-status=item.status_payment
                    data-id=item.id 
                    button-change-status
                    class="badge badge-danger"
                  ) Chưa thanh toán
              td
                a(
                  class="btn btn-success btn-sm mr-1"
                  href=`${prefitAdmin}/products/detail/${item.id}`
                  ) Chi tiết đơn hàng 

    +pagination(pagination)

    form(
      action="" 
      method="POST"
      id="form-change-status"
      data-path=`${prefitAdmin}/user/order/change-status`
      ) 
    form(
      action="" 
      method="POST"
      id="form-delete-item"
      data-path=`${prefitAdmin}/products/delete`
    ) 


    script(src="/admin/js/products.js") 
  else 
    h1 Bạn không có quyền xem mục này



    