mixin filterButton(button)
  each item in button
    button(class=`btn btn-sm ml-1 btn-outline-success buttonFilter ${item.class}` button_active=`${item.status}`) #{item.name}

mixin filterButtonOrder(button)
  each item in button
    button(class=`btn btn-sm ml-1 btn-outline-success buttonFilterOrder ${item.class}` button_active=`${item.status_payment}`) #{item.name}