mixin select-tree(items, level = 1)
  each item, index in items
    - const prefix = Array(level).join("-- ")
    option(value=item.id) #{prefix}#{item.title}
    if item.children && item.children.length > 0
      +select-tree(item.children, level + 1)

mixin select-tree-edit(items, level = 1, category_id)
  each item, index in items
    - const prefix = Array(level).join("-- ")
    option(value=item.id, selected=(item.id == category_id)) #{prefix}#{item.title}
    if item.children && item.children.length > 0
      +select-tree(item.children, level + 1)