mixin table-tree(record, level = 1)
  each item, index in record
    - const prefix = Array(level).join("-- ")
    tr
      td
        input(type="checkbox" name="id" value=item.id)
      td #{item.index}
      td
        img(src=item.thumbnail, alt=item.title, width="100px", height="auto" class="img-item")
      td #{prefix} #{item.title}
      //- td
      //-   input(
      //-     type="number"
      //-     value=item.position
      //-     style="width: 60px"
      //-     min="1"
      //-     name="position"
      //-   )
      td
        if item.status === "active"
          a(
          href="javascript:" 
          data-status=item.status
          data-id=item.id 
          button-change-status
          class="badge badge-success"
          ) Hoạt động
        else
          a(
            href="javascript:" 
            data-status=item.status
            data-id=item.id 
            button-change-status
            class="badge badge-danger"
          ) Dừng hoạt động
      td
        a(
          class="btn btn-success btn-sm mr-1"
          href=`${prefitAdmin}/products-category/detail/${item.id}`
          ) Chi tiết
        a(
          class="btn btn-warning btn-sm"
          href=`${prefitAdmin}/products-category/edit/${item.id}`
          ) Sửa
        button(
          class="btn btn-danger btn-sm ml-1"
          button-delete
          id-delete=item.id
          ) Xóa
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)