extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/products-grid.pug
include ../../mixins/blog-famous.pug
include ../../mixins/list-friend.pug

block main
  .container.my-3.infoEdit
    include ../../partials/list-btn-users.pug
    .row
      .col-12
        +box-head("Cài đặt chung")
    .row.justify-content-center
      form(action=`/chat/chatGroup/setting/${roomChat.id}` method="POST" enctype="multipart/form-data")
        .form-group
          label(for="title") Tiêu đề phòng chat
          input.form-control(type="text" id="title" name="title" value=roomChat.title required)

        .form-group
          .custom-dropdown
            .dropdown-btn Danh sách thành viên
            .dropdown-menu
              each item in member
                label
                  div(name="users" class="fullName" value=item.user_id) 
                    p #{item.info.fullName}
                    if(item.role=="superAdmin")
                      p (Quản trị viên)
                    div.inner-status(status=item.info.statusOnline data-id=item.id)
                  .custom-dropdown
                    if(isAdmin)
                      .dropdown-btn.bar More
                      .dropdown-menu
                        if(userInfo.id!=item.info.id && item.addFriend == true)
                          a.sub(href=`/chat/${item.roomChatId}` data-message=item.info.id) Nhắn tin
                        else 
                          if(userInfo.id!=item.info.id)
                            label.sub(href='#' data-message=item.info.id) Kết bạn
                        if(item.role!="superAdmin")
                          label.sub(href='#') Chỉ định làm quản trị viên
                        label.sub(href='#') Xóa thành viên
                    else
                      if(item.addFriend == true)
                        a.sub.btn.btn-success(href=`/chat/${item.roomChatId}` data-message=item.info.id) Nhắn tin
                      else 
                        if(userInfo.id!=item.info.id)
                          a.sub.btn.btn-success(href='#' data-message=item.info.id) Kết bạn
        
        div(class="form-group" upload-image)
          label(for="thumbnail") Ảnh phòng chat
          input(type="file" upload-image-input class="form-control-file", id="thumbnail", name="thumbnail" accept="image/*" )
          .wrap-image 
            img(upload-image-preview src=(roomChat.thumbnail ? roomChat.thumbnail : "/images/user-avatar.jpg") class="upload-preview")

        .form-group
          // Button trigger modal
          if(isAdmin)
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' class="add-member")
              | Thêm thành viên mới
          // Modal
          #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Thêm thành viên mới
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    each item in listCanIn
                      div
                        input(type="checkbox" class="mr-2" data-id=item.id id=item.id)
                        label(for=item.id) #{item.fullName}
                      br
                .modal-footer
                  button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                  button.btn.btn-primary(type='button' id="btn-submit-add") Thêm thành viên
        

        .form-group
          button.btn.btn-primary.btn-block(type="submit") Cập nhập

      form(action=`/chat/chatGroup/addMember/${roomChat.id}` method="POST" id="form-add-member")
        input(name="ids" type="text" class="d-none")
    
block script
  script(src="/js/users.js") 
  script(src="/admin/js/create.js")
  script(src="/js/chatSetting.js") 
