extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  .container.my-3.otp
    .row
      .col-12.text-center
        img(src="/images/Snoopy Shop_transparent-.png" width="200px")
      .col-12
        +box-head("Đổi mật khẩu")
      .col-12 
        p.text-center Nhập mật khẩu mới để tiến hành đặt lại mật khẩu
        form(action="/user/password/reset" method="POST")          
          div.form-group
            label(for="password") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div.form-group
            label(for="confirmPassword") Xác nhận mật khẩu
            input(
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
            )
          div.form-group
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu
