extends ../../layouts/defaults.pug
include ../../mixins/alert.pug

block main
  +alert-error()
  +alert-success()

  h1 Trang Tổng Quan

  .detail
    .row 
      .col-4 
        .inner-image 
          //- img(src=user.thumbnail alt=user.fullName)
      .col-8 
        div.wrap
          .item__detail 
            h3 Thông tin cá nhân
            p <b> Họ tên: </b> #{user.fullName}
            p <b> Số điện thoại: </b> #{user.phone}
            if(user.status=="active")
              p <b> Trạng thái tài khoản: </b><span class="badge badge-success" >Hoạt động<span>
            else 
              p <b> Trạng thái tài khoản:</b> <span class="badge badge-danger" >Dừng hoạt động<span>
            p <b>Phân quyền:</b> #{roles.title}
            p <b>Email:</b> #{user.email}

      .col-12
        .card.mb-4
          .card-header Tổng số đơn hàng
          .card-body
            p Số lượng: <b>#{statistic.order.total}</b>
            p Đã thanh toán: <b>#{statistic.order.active}</b>
            p Chưa thanh toán: <b>#{statistic.order.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Danh mục sản phẩm
          .card-body
            p Số lượng: <b>#{statistic.categoryProduct.total}</b>
            p Hoạt động: <b>#{statistic.categoryProduct.active}</b>
            p Dừng hoạt động: <b>#{statistic.categoryProduct.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Sản phẩm
          .card-body
            p Số lượng: <b>#{statistic.product.total}</b>
            p Hoạt động: <b>#{statistic.product.active}</b>
            p Dừng hoạt động: <b>#{statistic.product.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Danh mục bài viết
          .card-body
            p Số lượng: <b>#{statistic.categoryBlog.total}</b>
            p Hoạt động: <b>#{statistic.categoryBlog.active}</b>
            p Dừng hoạt động: <b>#{statistic.categoryBlog.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Bài viết
          .card-body
            p Số lượng: <b>#{statistic.blog.total}</b>
            p Hoạt động: <b>#{statistic.blog.active}</b>
            p Dừng hoạt động: <b>#{statistic.blog.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Tài khoản admin
          .card-body
            p Số lượng: <b>#{statistic.account.total}</b>
            p Đang hoạt động: <b>#{statistic.account.active}</b>
            p Bị khóa: <b>#{statistic.account.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Tài khoản người dùng
          .card-body
            p Số lượng: <b>#{statistic.user.total}</b>
            p Hoạt động: <b>#{statistic.user.active}</b>
            p Dừng hoạt động: <b>#{statistic.user.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Sản phẩm đã xóa
          .card-body
            p Số lượng: <b>#{statistic.deletedProduct.total}</b>
            p Hoạt động: <b>#{statistic.deletedProduct.active}</b>
            p Dừng hoạt động: <b>#{statistic.deletedProduct.inactive}</b>

      .col-6
        .card.mb-4
          .card-header Bài viết đã xóa
          .card-body
            p Số lượng: <b>#{statistic.deletedBlog.total}</b>
            p Hoạt động: <b>#{statistic.deletedBlog.active}</b>
            p Dừng hoạt động: <b>#{statistic.deletedBlog.inactive}</b>


  script(src="/admin/js/products.js") 