extends ../../layouts/defaults.pug
include ../../mixins/alert.pug
include ../../mixins/formatTime.pug

block main
  +alert-success()
  +alert-error()

  .container.my-5
    .row.justify-content-center
      .col-12.text-center
        //- h1.text-center Thông tin cá nhân
        img(src="/images/Snoopy Shop_transparent-.png" width="200px")
      .col-8
        form(action=`${prefitAdmin}/setting/general?_method=PATCH`, id="form-edit-product" method="POST" enctype="multipart/form-data")
          .form-group
            label(for="websiteName") Tên website
            input.form-control(type="text" id="websiteName" name="websiteName" required value=record.websiteName)

          div(class="form-group" upload-image)
            label(for="logo") Ảnh
            input(type="file" upload-image-input class="form-control-file", id="logo", name="logo" accept="image/*" value=record.logo)
            .wrap-image 
              img(upload-image-preview src=record.logo class="upload-preview")

          .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" required value=record.email)

          .form-group
            label(for="phone") Số điện thoại
            input.form-control(type="text" id="phone" name="phone" required value=record.phone)

          .form-group
            label(for="address") Địa chỉ
            input.form-control(type="text" id="address" name="address" required value=record.address)
          .form-group
            label(for="copyright") Copyright
            input.form-control(type="text" id="copyright" name="copyright" required value=record.copyright)
          div.form-group
            button(type="submit" class="btn btn-primary") Lưu lại
  script(src="/admin/js/products.js") 
  script(src="/admin/js/edit.js")
  script(src="/admin/js/create.js")