extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/products-grid.pug
include ../../mixins/blog-famous.pug

block main
  .container.my-3
    include ../../partials/list-btn-users.pug
    .row
      .col-12
        +box-head("Danh sách người dùng")
    .row
      each item in user
        .col-6
          div.box-user
            div.inner-avatar
              img(
                src=(item.thumbnail ? item.thumbnail : "/images/user-avatar.jpg")
                alt=item.fullName
              )
            div.inner-info
              div.inner-name #{item.fullName}
              div.inner-buttons
                button(btn-add-friend button-add=user.id class="btn btn-sm btn-primary mr-1 mt-1") Kết bạn
                button(btn-cancel-friend button-cancel=user.id class="btn btn-sm btn-secondary mr-1 mt-1") Hủy