extends ../../layouts/defaults.pug
include ../../mixins/filterButton.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/formatTime.pug

block main
  if(roles.permissions.includes("blog_view"))
    .card-header <h1>Danh sách bài viết<h1>
    +alert-success()
    +alert-error()
    
    .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row 
        .col-6
          +filterButton(button)
        .col-6
          form#form-search
            +Search(keyword)

    .card.mb-3
    .card-header Sắp xếp
    .card-body
      .row
        .col-6
          div(sort)
            select.form-control(name="sort" sort-select)
              option(value="position-desc") Vị trí giảm dần
              option(value="position-asc") Vị trí tăng dần
              option(value="title-asc") Tiêu đề A - Z
              option(value="title-desc") Tiêu đề Z - A
        .col-6
          button.btn.btn-danger(sort-clear) Clear

    .card.mb-3
    
    .card-body
      .row 
        if(roles.permissions.includes("blog_edit"))
          .col-8 
            +form-change-multi(`${prefitAdmin}/blog/change-multi?_method=PATCH`)
        if(roles.permissions.includes("blog_create"))
          .col-4
            a.btn.btn-outline-success(href=`${prefitAdmin}/blog/create`) Thêm mới
      table(
        class="table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Hình ảnh
            th Tiêu đề
            th Mô tả ngắn
            th Vị trí
            th Trạng thái
            th Người tạo
            th Hành động
        tbody
          each item, index in blogs
            tr
              td
                input(type="checkbox" name="id" value=item.id)
              td #{pagination.limit*(pagination.currentPage-1)+(index+1)}
              td
                img(src=item.thumbnail, alt=item.title, width="100px", height="auto" class="img-item")
              td #{item.title}
              td #{item.shortDescription}
              td
                input(
                  type="number"
                  value=item.position
                  style="width: 60px"
                  min="1"
                  name="position"
                )
              td
                if item.status === "active"
                  a(
                  href="javascript:" 
                  data-status=item.status
                  data-id=item.id 
                  button-change-status
                  class="badge badge-success"
                  ) Hoạt động
                else
                  a(
                    href="javascript:" 
                    data-status=item.status
                    data-id=item.id 
                    button-change-status
                    class="badge badge-danger"
                  ) Dừng hoạt động
              td
                if(item.creator)
                  div 
                    p #{item.creator}
                    +CreateTime(item)
              td
                a(
                  class="btn btn-success btn-sm mr-1"
                  href=`${prefitAdmin}/blog/detail/${item.id}`
                  ) Chi tiết
                if(roles.permissions.includes("blog_edit"))
                  a(
                    class="btn btn-warning btn-sm"
                    href=`${prefitAdmin}/blog/edit/${item.id}`
                    ) Sửa
                if(roles.permissions.includes("blog_delete"))
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    id-delete=item.id
                    ) Xóa
                if(item.updatedBy.account_id)
                  a(
                    class="btn btn-info btn-sm mt-2 ml-1"
                    href=`${prefitAdmin}/blog/historyEdit/${item.id}`
                    ) Lịch sử chỉnh sửa


    +pagination(pagination)

    form(
      action="" 
      method="POST"
      id="form-change-status"
      data-path=`${prefitAdmin}/blog/change-status`
      ) 
    form(
      action="" 
      method="POST"
      id="form-delete-item"
      data-path=`${prefitAdmin}/blog/delete`
    ) 


    script(src="/admin/js/products.js") 
  else 
    h1 Bạn không có quyền xem mục này



    